<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#" (click)="nav(1)">Cargar <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="#" (click)="nav(2)">Listado <span class="sr-only">(current)</span></a>
      </div>
    </div>
</nav>

<app-cargar-persona *ngIf="caso==1" (onCargar)="CargarAlumno($event)"></app-cargar-persona>
<app-listado-personas *ngIf="caso==2" [titulo]="titulo" [listaNombres]="listaNombres"></app-listado-personas>

